<%= render 'shared/alert' %>

<div class="max-w-5xl mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-bold text-gray-900">Lista de Mesas</h1>
    <% if @current_user.is_admin %>
      <%= link_to "Nova Mesa", new_table_path, class: "inline-flex items-center px-5 py-2.5 rounded-xl text-sm font-semibold text-white bg-[#c2410c] hover:bg-[#9a3412] transition" %>
    <% end %> 
  </div>

  <% if @tables.any? %>
    <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      <% @tables.sort_by(&:number).each do |table| %>
        <%= link_to table_path(table), class: "block h-full" do %>
          <li class="bg-white rounded-xl shadow hover:shadow-lg transition duration-200 p-5 flex flex-col justify-between h-full hover:bg-gray-50">
            <div class="mb-1">
              <div class="flex justify-between items-center mb-5">
                <h2 class="text-lg font-semibold text-gray-700">
                  Mesa <%= table.number %>
                </h2>
                <% if table.occupied? %>
                  <span class="text-red-600 text-sm font-medium">Ocupada</span>
                <% else %>
                  <span class="text-gray-500 text-sm font-medium">Livre</span>
                <% end %>
              </div>
              
              <% if table.occupied? %>
                <p class="text-sm text-gray-600">
                  Total: <strong>R$ <%= number_to_currency(table.open_order.total_price, unit: "", separator: ",", delimiter: ".") %></strong>
                </p>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>  
  <div class="bg-white shadow overflow-hidden border-l-4 border-gray-500 sm:rounded-md mb-8 mt-6">
    <p class="px-4 py-6 text-gray-600">Nenhuma mesa cadastrada.</p>
  </div>
  <% end %>
</div>
