<%= render 'shared/alert' %>


<div class="max-w-2xl mx-auto py-10 px-4">
  <div class="bg-white shadow-xl rounded-2xl overflow-hidden">
    <div class="px-6 py-5 border-b border-gray-200 flex justify-between items-center">
      <h1 class="text-2xl font-semibold text-gray-800 flex items-center">Nova Mesa</h1>
      <%= link_to "Voltar", tables_path, 
        class: 'text-sm px-4 py-2 border border-gray-400 text-gray-700 rounded hover:bg-gray-700 hover:border-gray-700 hover:text-white transition', 
        title: 'Voltar para a lista de mesas' 
      %>
      </div>
    <div class="px-6 py-8">
      <%= form_with(model: @table, local: true) do |form| %>
        <% if @table.errors.any? %>
          <div class="bg-red-100 text-red-800 px-4 py-3 rounded mb-6">
            <h2 class="font-semibold mb-2">Foram encontrados erros:</h2>
            <ul class="list-disc pl-5">
              <% @table.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-6">
          <%= form.label :number, 'Número', class: 'block text-gray-700 font-medium mb-1' %>
          <%= form.text_field :number, class: "block w-full px-4 py-3 rounded-xl border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:outline-none text-base transition",
              autofocus: true,
              required: true,
              placeholder: "Digite o número da mesa"
            %>
          </div>


        <div class="flex justify-end space-x-2">
          <%= link_to 'Cancelar', tables_path, class: 'px-4 py-2 border border-gray-300 rounded text-gray-600 hover:bg-gray-100 transition' %>
          <%= form.submit 'Salvar', class: 'px-6 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 transition font-semibold flex items-center' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
